.screen-wrapper{
    height:85vh;
}
.displayof{
  display: none;
}
.share-button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 90vh;
    right: 10%;
    z-index: 2;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
}
.share-icon{
    width: 15px;
    margin: 19px;
    fill: #333333;
}